@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Futura Demi C";
  src: url("../../fonts/futurademic-webfont.eot") format("eot"), url("../../fonts/futurademic-webfont.svg") format("svg"), url("../../fonts/futurademic-webfont.ttf") format("ttf"), url("../../fonts/futurademic-webfont.woff2") format("woff2"), url("../../fonts/futurademic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT - Book";
  src: url("../../fonts/futurabookc-webfont.eot") format("eot"), url("../../fonts/futurabookc-webfont.svg") format("svg"), url("../../fonts/futurabookc-webfont.ttf") format("ttf"), url("../../fonts/futurabookc-webfont.woff2") format("woff2"), url("../../fonts/futurabookc-webfont.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay-medium';
  src: url("../../fonts/SFUIDisplaymedium.eot");
  src: local("☺"), url("../../fonts/SFUIDisplaymedium.woff") format("woff"), url("../../fonts/SFUIDisplaymedium.ttf") format("truetype"), url("../../fonts/SFUIDisplaymedium.svg") format("svg");
  font-weight: medium;
  font-style: normal;
}

@media (max-width: 1280px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

body {
  font-family: "Futura PT - Book";
}

.first-section {
  width: 100%;
  background: url("../../img/bg.jpg") 0 0/cover no-repeat;
  max-height: 810px;
  overflow: hidden;
}

@media (max-width: 992px) {
  .first-section {
    max-height: 630px;
  }
}

.scroll-block {
  border-radius: 10px;
  background-color: #29d3d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 40px;
  max-width: 277px;
  max-height: 49px;
  margin: 0 auto;
  margin-top: -1.4%;
}

.scroll-block span:nth-child(1), .scroll-block span:nth-child(3) {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 18.71px;
  text-transform: uppercase;
  letter-spacing: 1.12px;
}

.scroll-block div {
  margin: 0 40px;
}

.scroll-block div img {
  width: 100%;
}

@media (max-width: 992px) {
  .scroll-block {
    margin-top: -3%;
  }
}

@media (max-width: 767px) {
  .scroll-block {
    display: none;
  }
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 0px;
}

@media (max-width: 767px) {
  .header {
    display: none;
  }
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social_fb,
.header__social_ig,
.header__social_tw,
.header__social_vk,
.header__social_ok {
  width: 40px;
  height: 40px;
  background: url("../../img/icons/icon_rect.svg") 0 0 no-repeat;
  margin-right: 12px;
}

.header__social_ok {
  margin-right: 0;
}

.header__button {
  padding-top: 12px;
}

.header__button a {
  color: #ffffff;
  font-family: "Futura Demi C";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  border: 2px solid #ffffff;
  border-radius: 6px;
  padding: 9px 24px;
}

.first-section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-section__body_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 19.2% 25% 23% 10.8%;
}

.first-section__body_left span {
  color: #ffffff;
  font-size: 17px;
  line-height: 18.71px;
  letter-spacing: 1.34px;
  margin-top: 4.4%;
  text-align: center;
}

.first-section__body_left span:before, .first-section__body_left span:after {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.3;
  width: 36%;
}

@media (max-width: 992px) {
  .first-section__body_left span:before, .first-section__body_left span:after {
    width: 35%;
  }
}

@media (max-width: 840px) {
  .first-section__body_left span:before, .first-section__body_left span:after {
    width: 34%;
  }
}

@media (max-width: 767px) {
  .first-section__body_left span:before, .first-section__body_left span:after {
    width: 24%;
  }
}

.first-section__body_left span:before {
  margin: 0 3% 1% 0;
}

@media (max-width: 767px) {
  .first-section__body_left span:before {
    margin: 0 2% 1% 0;
  }
}

.first-section__body_left span:after {
  margin: 0 0 1% 3%;
}

@media (max-width: 767px) {
  .first-section__body_left span:after {
    margin: 0 0 1% 2%;
  }
}

@media (max-width: 767px) {
  .first-section__body_left span {
    margin-top: 7.5%;
    font-size: 32px;
    letter-spacing: normal;
  }
}

@media (max-width: 992px) {
  .first-section__body_left {
    padding: 19% 16% 23% 10%;
  }
}

@media (max-width: 767px) {
  .first-section__body_left {
    padding: 25.5% 15% 19.2% 15%;
  }
}

.first-section__logo {
  width: 100%;
  max-height: 52px;
  position: relative;
}

.first-section__logo:before {
  content: "только лучшие акции";
  font-family: 'SFUIDisplay-medium';
  display: inline-block;
  padding: 8px 7px;
  position: absolute;
  top: -87%;
  left: 60%;
  background: url("../../img/icons/only_popup.svg") 0 0 no-repeat;
  width: 100%;
  height: 36px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .first-section__logo:before {
    width: 202px;
    height: 46px;
    top: -110%;
    font-size: 15px;
    padding: 10px 8px;
  }
}

.download__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4%;
}

@media (max-width: 767px) {
  .download__buttons {
    margin-top: 4.5%;
  }
}

.download-button__item {
  border-radius: 6px;
  border: 2px solid #ffffff1a;
  max-width: 192px;
  max-height: 57px;
}

.download-button__item a {
  width: 100%;
  height: 100%;
}

.download-button__item a img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .download-button__item {
    max-width: 239px;
    max-height: 71px;
  }
}

.first-section__body_img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 16%;
          flex: 1 1 16%;
  padding: 9.5% 1% 0 0;
}

.first-section__body_img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .first-section__body_img {
    display: none;
  }
}
